
.fal {
    width: 100%;
    height: 101vh;
     background-image: url("../../images/fal-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.poem-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(236, 210, 118, 0.8);
    border-radius: 15px;
    margin-top: 60px;
    margin-right: 40px;
    max-width: 700px;
}
.fal-info {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.poem-result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fal-poem {
    width:auto;
    background: #FFFFFF;
    border-radius: 15px;
    margin: 23px 14px;
}
.fal-result {
    display: flex;
    font-size: 19px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 0.04em;
    color: #171717;
    margin-top: 10px;
    font-weight: bold;
}
.fal-poem-result {
    justify-content: center;
    padding-bottom: 1rem;
    font-size: 18px;
    text-align: right;
    letter-spacing: 0.04em;
    line-height: 2rem;
    color: #171717;
    font-weight: bold;
    margin: 50px 40px 20px;
}
.fal-poem-audio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.verse1 {
    right: 6%;
}

.verse2 {
    left: 6%;
}
.fal-backspace {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.backspace-btn {
    width: auto;
    height: 29px;
    background: #DFE9F3;
    border-radius: 10px 0;
    margin-bottom: 20px;
}

.tafsir-fal {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 12px 14px;
    background: #FFFFFF;
    border-radius: 15px;
    align-items: flex-end;
    justify-content: flex-end;
}
.tafsir-title {
    font-size: 16px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 0.04em;
    color: #171717;
    margin-top: 30px;
    justify-content: flex-end;
    display: flex;
    width: 100%;
    margin-right: 30px;
    margin-bottom: 15px;

}
.tafsir-text {
    font-size: 17px;
    line-height: 20px;
    text-align: right;
    letter-spacing: 0.04em;
    color: #171717;
    justify-content: center;
    display: flex;
    width: 100%;
    margin-bottom: 40px;
    margin-right: 20px;

}
